@model DigitalAv.Domain.DTO.CustomerDetailViewModel

<div class="col-md-12 grid-margin grid-margin-md-0">
	<div class="card">
		<div class="card-body">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
					<li class="breadcrumb-item"><a asp-action="Index">User List</a></li>
					<li class="breadcrumb-item active" aria-current="page">User Details</li>
				</ol>
			</nav><br /><br />
			<div class="wrap d-flex justify-content-lg-start justify-content-sm-center flex-wrap">
				<div class="wrap align-items-center ml-5">
					<p class="font-weight-bold text-success" style="font-size: 20px">@Model.Name</p>
					<p class="font-weight-normal">Role: @Model.SaleDate</p>
					<p class="font-weight-normal">Gender: @Model.Quantity</p>
					<p class="font-weight-normal">Role: @Model.CountryCode</p>
					<p class="font-weight-normal">Gender: @Model.RegionCode</p>
					<p class="font-weight-normal">Role: @Model.CityCode</p>
					<p class="font-weight-normal">Gender: @Model.ProductId</p>
				</div>
			</div>
		</div>
	</div>
</div>